name: Update Table

on:
  push

jobs:
  update-table:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - name: Run Python script
      run: |
        python script.py
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
